@import url('./__title/info__title.css');

.info {
	max-width: 560px;
}

@media screen and (max-width: 768px) {
	.info {
		margin: 0;
	}
}

@media screen and (max-width: 425px) {
	.info {
		font-size: 14px;
	}
}