.sum__workmode, .sum__workmode span {
	color: #666666;
	display: flex;
    justify-content: flex-start;
    align-items: center;
	flex-wrap: wrap;
	margin-right: 15px;
}

.sum__workmode span::before {
	display: inline-block;
	content: '';
	background-image: url('../../../../public/img/checked.svg');
	background-size: contain;
	background-repeat: no-repeat;
	border: none;
	width: 17px;
	height: 17px;
	margin-right: 8px;
}