@import url('./sum__contacts_position.css');

.sum__contacts {
	width: 262px;
	box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.07);
	border-radius: 20px;
	padding: 40px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin-top: 30px;
}

#wrapper {
	max-height: 85px;
	overflow: hidden;
	background: linear-gradient(0deg, #FFFFFF 21.74%, rgba(255, 255, 255, 0) 104.98%);
	transition: .5s ease-in-out;
}

.sum__contacts h5 {
	font-size: 16px;
	font-family: "Geometria Bold", Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-weight: bold;
	margin: 30px 0 20px 0;
}

.sum__contacts h5:first-of-type {
	margin-top: 0;
}

.sum__contacts a {
	color: var(--accentcolor);
	text-decoration: none;
	display: block;
	margin: 0 0 5px 0;
	mix-blend-mode: lighten;
}

.sum__contacts a:last-of-type {
	margin: 0 0 30px 0;
}

.sum__contacts a > span {
	font-size: 16px;
}

@media screen and (max-width: 900px) {
	.sum__contacts {
		width: 175px;
		font-size: 10px;
		padding: 25px;
		margin-left: auto;
	}

	.sum__contacts a > span {
		font-size: 12px;
	}
}