@import url('./__info/vac__info.css');
@import url('./__additional/vac__additional.css');
@import url('./__salary/vac__salary.css');
@import url('./__image/vac__image.css');
@import url('./__title/vac__title.css');

.vac {
	max-width: 80%;
	display: flex;
	justify-content: space-between;
}

@media screen and (max-width: 768px) {
	.vac {
		flex-direction: column;
	    width: 71%;
    	margin-top: 65px;
	}
}

@media screen and (max-width: 425px) {
	.vac {
		width: 90%;
		max-width: 90%;
	}
}