.sum__motivation {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.sum__motivation > span {
	margin-bottom: 15px;
}

.sum__motivation > span:last-of-type {
	margin-bottom: 0;
}

.sum__motivation > span::before {
	content: '—  ';
	color: var(--accentcolor);
	font-family: "Geometria Bold", Arial, "Helvetica Neue", Helvetica, sans-serif;
}

@media screen and (max-width: 768px) {
	.sum__motivation {
		display: none;
	}
}