@import url('./__current/paginator__current.css');
@import url('./__number/paginator__number.css');
@import url('./__arrow/paginator__arrow.css');

.paginator {
	display: flex;
	justify-content: center;
}

.paginator a {
	display: inline-block;
	text-decoration: none;
	line-height: 19px;
	padding: 8px 11px;
	border-radius: 6px;
}

.paginator a:hover {
	color: var(--accentcolor);
}

.paginator a.paginator__current:hover {
	color: white;
}