.sum__title {
	margin: 0;
	font-size: 46px;
	font-family: "Geometria Bold", Arial, "Helvetica Neue", Helvetica, sans-serif;
	margin-bottom: 17px;
}

@media screen and (max-width: 866px) {
	.sum__title {
		font-size: 36px;
	}
}