@import url('./_long/button_long.css');
@import url('./button_with-icon.css');

.button {
	padding: 16px 35px 13px 35px;
	border-radius: 60px;
	font-size: 16px;
	line-height: 20px;
	color: var(--accentcolor);
	cursor: pointer;
	border: none;
	background-color: var(--maincolor);
	box-shadow: 0px 14px 24px rgba(113, 181, 41, 0.15);
	font-family: "Geometria Bold", Arial, "Helvetica Neue", Helvetica, sans-serif;
	outline: none;
}

.button svg {
	vertical-align: middle;
	margin-left: 14px;
}

.button:hover {
	background-color: var(--hovercolor);
	color: var(--accentcolor);
	transition: all .3s ease-in-out;
}

.button:hover > svg > path {
	fill: black;
	transition: all .3s ease-in-out;
}

@media screen and (max-width: 1137px) {
	.button {
		padding-left: 25px;
		padding-right: 25px;
	}
}

@media screen and (max-width: 1067px) {
	.button {
		padding-left: 15px;
		padding-right: 15px;
		font-size: 15px;
	}
}

@media screen and (max-width: 1296px) {
	.button svg {
		display: none;
	}
}