.section__image {
	margin-left: 35px;
}

@media screen and (max-width: 1214px) {
	.section__image {
		width: 350px;
	}
}

@media screen and (max-width: 1097px) {
	.section__image {
		width: 320px;
	}
}

@media screen and (max-width: 1023px) {
	.section__image {
		width: 300px;
	}
}

@media screen and (max-width: 938px) {
	.section__image {
		width: 250px;
	}
}

@media screen and (max-width: 768px) {
	.section__image {
		display: none;
	}
}
