.section__image_listing {
	margin-top: 70px;
}

@media screen and (max-width: 1252px) {
	.section__image_listing {
		width: 394px;
	}
}

@media screen and (max-width: 1155px) {
	.section__image_listing {
		width: 370px;
	}
}

@media screen and (max-width: 1023px) {
	.section__image_listing {
		width: 280px;
	}
}

@media screen and (max-width: 849px) {
	.section__image_listing {
		width: 250px;
	}
}

@media screen and (max-width: 768px) {
	.section__image_listing {
		display: none;
	}
}