@import url('./footer__text_copyright.css');
@import url('./footer__text_email.css');
@import url('./footer__text_hidden.css');
@import url('./footer__text_policy.css');

.footer__text {
	font-size: 16px;
	line-height: 120%;
	font-weight: normal;
	margin-right: 65px;
	text-decoration: none;
	color: inherit;
	outline: none;
}

.footer__text:last-of-type {
	margin-right: 0;
}

.footer__text > a {
	color: white;
	font-family: inherit;
}

@media screen and (max-width: 1254px) {
	.footer__text {
		margin-right: 0;
	}
}

@media screen and (max-width: 1139px) {
	.footer__text {
		width: 170px;
	}
}

@media screen and (max-width: 768px) {
	.footer__text {
		width: auto;
		margin-top: 20px;
	}
}