.footer__menu_listing {
	margin: 0 0 0 auto;
}

.footer__menu_listing path {
	fill: var(--maincolor);
}

@media screen and (max-width: 1254px) {
	.footer__menu_listing {
		margin: 0;
	}
}

@media screen and (max-width:768px) {
	.footer__menu_listing {
		align-self: center;
    	margin-top: 60px;
	}
}