.list {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	list-style-type: none;
	counter-reset: li;
	padding: 0;
}

.list li {
	display: block;
	position: relative;
	padding-left: 62px;
	width: 150px;
	font-size: 14px;
	line-height: 120%;
	color: #9D9D9D;
}

.list li:last-of-type {
	width: 200px;
}

.list li:not(.arrow)::before {
	position: absolute;
    top: -18px;
    left: 0;
    content: counter(li)'';
	counter-increment: li;
	font-size: 58px;
	line-height: 120%;
	color: #F1EA68;
	font-family: "Geometria Bold", Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.accent {
	display: block;
	color: var(--accentcolor);
	margin-top: 5px;
}