.popup__close {
	width: 45px;
	height: 45px;
	align-self: flex-end;
	cursor: pointer;
	background-image: url('../../../../public/img/close.svg');
	background-color: #FBFBFB;
	background-position: center;
	background-repeat: no-repeat;
	border: none;
	outline: none;
}

.popup__close:hover {
	background-image: url('../../../../public/img/closehovered.svg');
}