@import url('./__logo/header__logo.css');
@import url('./__menu/header__menu.css');
@import url('./__button/header__button.css');

.header {
	position: relative;
	display: flex;
	justify-content: flex-start;
	box-sizing: border-box;
	border-radius: 60px;
	background: linear-gradient(90deg, #72B62B 0%, #57853C 100%);
	box-shadow: 0px 20px 24px rgba(113, 181, 41, 0.26);
	align-items: center;
	padding-left: 23px;
	width: 82.5%;
}

@media screen and (max-width: 768px) {
	.header {
		height: 53px;
	}
}

@media screen and (max-width: 425px) {
	.header {
		width: 90%;
	}
}