@import url('./card__mainblock_profile.css');

.card__mainblock {
	max-width: 53%;
}

@media screen and (max-width: 899px) {
	.card__mainblock {
		max-width: 69%;
	}
}

@media screen and (max-width: 768px) {
	.card__mainblock {
		order: 2;
    	max-width: 100%;
	}
}