.card__mainblock.card__mainblock_profile {
	padding: 20px 0 20px 0;
}

.card__mainblock_profile h5 {
	margin: 0 0 5px 0;
	font-size: 16px;
}

@media screen and (max-width: 1400px) {
	.card__mainblock.card__mainblock_profile {
		padding-left: 10px;
	}
}

@media screen and (max-width: 899px) {
	.card__mainblock.card__mainblock_profile {
		padding-left: 25px;
	}
}

@media screen and (max-width: 768px) {
	.card__mainblock.card__mainblock_profile {
		padding: 0;
	}
}