.section_listing {
	max-width: 1440px;
	padding: 0 150px;
	justify-content: center;
}

@media screen and (max-width: 933px) {
	.section_listing {
		padding: 0 108px;
	}
}

@media screen and (max-width: 819px) {
	.section_listing {
		padding: 0 82px;
	}
}

@media screen and (max-width: 518px) {
	.section_listing {
		padding: 0 50px;
	}
}

@media screen and (max-width: 425px) {
	.section_listing {
		padding: 0 20px;
	}
}